@{ 
    ViewData["Title"] = "Order is processed";
}

<h1>Order is processed</h1>

<p1>
    Your order is processed! We are transferring it to the delivery service.
    Please await for next instructions.
</p1>

<p>
    <a href ="@Url.Action("Finish", "Order")">Return to the main page</a>
</p>
