@using BookStore.Web.Controllers;
@model DeliveryModel

@{ 
    ViewData["Title"] = "Payment method";
}

<h1>Payment method</h1>

<form action="@Url.Action(nameof(OrderController.StartPayment))" method="post">
    <input type="hidden" name="id" value="@Model.OrderId"/>    
    <div class="form-group">
        <label for="code">Select payment method:</label>
        <select class="form-control" name="uniqueCode">
            @foreach (var method in Model.Methods)
             {
                <option value="@method.Key">@method.Value</option>
             }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Next</button>
</form>